.bar {
  width: ~'calc(100% - 10px)';
  padding-left: 10px;
  box-shadow: 0 1px 2px #666;
  border-radius: 5px;
  background-color: #fff;
}

.form {
  display: inline-block;
  width: ~'calc(100% - 270px)';
}

.message {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
}

.button {
  display: inline-block;
  border: none;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-right: 5px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #eee;
  }
}

.talkButton {
  width: 140px;
  background-color: #7bf;
  color: white;
  text-align: left;

  &:hover {
    background-color: #8cf;
  }
}

.active {
  &:hover {
    background-color: #6ad;
  }
}

.disabled {
  background-color: #eee;
  color: #888;
  cursor: auto;
  &:hover {
    background-color: #eee;
  }
}